# Backend
DATABASE_URL=postgresql+psycopg://postgres:change_me@127.0.0.1:5432/db_siirh_app
JWT_SECRET=change_me
JWT_ALGO=HS256
AUTO_CREATE_TABLES=true
UPLOAD_DIR=uploads

# Frontend
VITE_API_URL=http://127.0.0.1:8000
